<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @diary.date.strftime("%Y年%m月%d日%H:%M:%S") %>
</p>

<p>
  <strong>Title:</strong>
  <%= @diary.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @diary.body %>
</p>

<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Back', diaries_path %>
