<p id="notice"><%= notice %></p>

<h1><FONT color=blueviolet>Buku harian saya</FONT></h1>
<body>Buku harian missy s1513127</body>
 
<%=form_tag({:controller => "diaries", :action => "search"}) do %>
検索条件: <%= text_field_tag "search_cond" %>
<%= submit_tag "検索"%>
<% end %>
</tr>



<table border="1" color="blueviolet">
  <thead>
    <tr>
      <th><FONT color=deepskyblue>Date</FONT></th>
      <th><FONT color=deepskyblue>Title</FONT></th>
      <th><FONT color=deepskyblue>Body</FONT></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diaries.each do |diary| %> 
      <tr>
        <td><FONT color=gold><%= diary.date.strftime("%Y年%H時%M分%S秒") %></FONT></td>
        <td><FONT color=gold><%= diary.title %></FONT></td>
        <td><FONT color=gold><%= diary.body %></FONT></td>
        <td><%= link_to 'Show', diary %></td>
        <td><%= link_to 'Edit', edit_diary_path(diary) %></td>
        <td><%= link_to 'Destroy', diary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diary', new_diary_path %>


